.processWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  margin-top: 1rem;
}

.processWrapper h2 {
  font-size: 1.5rem;
  font-weight: bolder;
  color: #2e7de0;
  text-align: center;
}

.processWrapper h1 {
  font-size: 2rem;
  font-weight: bolder;
  color: #000;
  text-align: center;
}

.processWrapperPara {
  font-size: 1rem;
  width: 50%;
  color: #000;
  text-align: center;
}

.processCardWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-top: 1rem;
}

.processCardWrapper div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  cursor: pointer;
  background-color: #ffffff80;
}

.processCard {
  gap: 1rem;
  padding: 1rem;
}

.processCardDiv:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.processCardDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25vh;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 10px;
  background-color: #ffffff80;
}

.processCard img {
  width: auto;
  height: 10vh;
  object-fit: contain;
}

.processCardDetailsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 2rem;
}

.processcardDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: all 0.3s ease;
}
.processcardDetails:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.processCardDetailsContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.processCardDetailsContent h5 {
  font-size: 1.5rem;
  font-weight: bolder;
}

.processCardDetailsContent div {
  flex: 1;
}

.processcardDetails img {
  width: auto;
  height: 40vh;
  object-fit: contain;
  align-items: center;
}

.accordion {
  display: none;
}

@media screen and (max-width: 768px) {
  .processWrapperPara {
    width: 100%;
  }
  /* .processCardDiv {
    width: 100%;
  }
  .processCardDetailsContent {
    flex-direction: column;
  }
  .processCardDetailsContent div {
    width: 100%;
  }
  .processcardDetails img {
    width: 100%;
    height: 30vh;
  } */

  /* .processCardsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  } */

  .processCardDetailsWrapper {
    padding: 1rem;
    width: min-content;
  }
  .accordion {
    display: block;
    width: -webkit-fill-available;
  }

  .processCardWrapper {
    display: none;
  }

  .accordionHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: #ffffff80;
  }

  .accordionHeader img {
    width: 10vh;
    height: 10vh;
    object-fit: contain;
  }
}
